.img1 {
  position: absolute;
  top: 15vh;
  animation: slide 34s linear infinite;
  width: 100px;
  height: 100px;
}

.img2 {
  position: absolute;
  top: 55vh;
  animation: slide 16s linear infinite;
  width: 100px;
  height: 100px;
}

.img3 {
  position: absolute;
  top: 37vh;
  animation: slide 18s linear infinite;
  width: 100px;
  height: 100px;
}

.img4 {
  position: absolute;
  top: 51vh;
  animation: slide 20s linear infinite;
  width: 100px;
  height: 100px;
}

.img5 {
  position: absolute;
  top: 18vh;
  animation: slide 13s linear infinite;
  width: 100px;
  height: 100px;
}

.img6 {
  position: absolute;
  top: 27vh;
  animation: slide 15s linear infinite;
  width: 100px;
  height: 100px;
}

.img7 {
  position: absolute;
  top: 79vh;
  animation: slide 17s linear infinite;
  width: 100px;
  height: 100px;
}

.img8 {
  position: absolute;
  top: 80vh;
  animation: slide 19s linear infinite;
  width: 100px;
  height: 100px;
}

.img9 {
  position: absolute;
  top: 69vh;
  animation: slide 44s linear infinite;
  width: 100px;
  height: 100px;
}

.img10 {
  position: absolute;
  top: 42vh;
  animation: slide 22s linear infinite;
  width: 100px;
  height: 100px;
}

.img11 {
  position: absolute;
  top: 81vh;
  animation: slide 24s linear infinite;
  width: 100px;
  height: 100px;
}

.img12 {
  position: absolute;
  top: 71vh;
  animation: slide 26s linear infinite;
  width: 100px;
  height: 100px;
}

.img13 {
  position: absolute;
  top: 61vh;
  animation: slide 28s linear infinite;
  width: 100px;
  height: 100px;
}

.img14 {
  position: absolute;
  top: 75vh;
  animation: slide 30s linear infinite;
  width: 100px;
  height: 100px;
}

.img15 {
  position: absolute;
  top: 33vh;
  animation: slide 32s linear infinite;
  width: 100px;
  height: 100px;
}

.img16 {
  position: absolute;
  top: 38vh;
  animation: slide 64s linear infinite;
  width: 100px;
  height: 100px;
}

.img17 {
  position: absolute;
  top: 24vh;
  animation: slide 36s linear infinite;
  width: 100px;
  height: 100px;
}

.img18 {
  position: absolute;
  top: 12vh;
  animation: slide 47s linear infinite;
  width: 100px;
  height: 100px;
}

.img19 {
  position: absolute;
  top: 27vh;
  animation: slide 29s linear infinite;
  width: 100px;
  height: 100px;
}

.img20 {
  position: absolute;
  top: 29vh;
  animation: slide 25s linear infinite;
  width: 100px;
  height: 100px;
}

.img21 {
  position: absolute;
  top: 3vh;
  animation: slide 27s linear infinite;
  width: 100px;
  height: 100px;
}

.img22 {
  position: absolute;
  top: 5vh;
  animation: slide 52s linear infinite;
  width: 100px;
  height: 100px;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px -400px;
  }
}

@keyframes slide {
  from {
    transform: translateX(-110vw);
  }
  to {
    transform: translateX(130vw);
  }
}

@media only screen and (max-width: 900px) {
  .left-timeline {
    margin-left: 0;
  }

  .img1 {
    position: absolute;
    top: 15vh;
    animation: slide 34s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img2 {
    position: absolute;
    top: 55vh;
    animation: slide 16s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img3 {
    position: absolute;
    top: 37vh;
    animation: slide 18s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img4 {
    position: absolute;
    top: 51vh;
    animation: slide 20s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img5 {
    position: absolute;
    top: 18vh;
    animation: slide 13s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img6 {
    position: absolute;
    top: 27vh;
    animation: slide 15s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img7 {
    position: absolute;
    top: 79vh;
    animation: slide 17s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img8 {
    position: absolute;
    top: 80vh;
    animation: slide 19s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img9 {
    position: absolute;
    top: 69vh;
    animation: slide 44s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img10 {
    position: absolute;
    top: 42vh;
    animation: slide 22s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img11 {
    position: absolute;
    top: 81vh;
    animation: slide 24s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img12 {
    position: absolute;
    top: 71vh;
    animation: slide 26s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img13 {
    position: absolute;
    top: 61vh;
    animation: slide 28s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img14 {
    position: absolute;
    top: 75vh;
    animation: slide 30s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img15 {
    position: absolute;
    top: 33vh;
    animation: slide 32s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img16 {
    position: absolute;
    top: 3vh;
    animation: slide 64s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img17 {
    position: absolute;
    top: 24vh;
    animation: slide 36s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img18 {
    position: absolute;
    top: 12vh;
    animation: slide 47s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img19 {
    position: absolute;
    top: 27vh;
    animation: slide 29s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img20 {
    position: absolute;
    top: 29vh;
    animation: slide 25s linear infinite;
    width: 70px;
    height: 70px;
  }
  .img21 {
    position: absolute;
    top: 38vh;
    animation: slide 27s linear infinite;
    width: 70px;
    height: 70px;
  }

  .img22 {
    position: absolute;
    top: 5vh;
    animation: slide 52s linear infinite;
    width: 70px;
    height: 70px;
  }
}
