@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
.app {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.header-text {
  text-align: center;
  position: relative;
  filter: invert(1);
  mix-blend-mode: difference;
  z-index: 3;
  padding: 40vh 0;
}

.subheader-text {
  margin: 0 auto;
}

.fullpage {
  height: 100vh;
  width: 100%;
}

.textInfo-container {
  border: 1px solid blue;
  height: 100vh;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  font-weight: 100;
}

.bgImage {
  position: absolute;
  z-index: 1;
}

.left-timeline {
  margin-left: 4vw;
}

@media only screen and (max-width: 900px) {
}
